/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* navbar */
.section_padding {
  padding-top: 2%;
}

.navdesign {
  width: 100%;
  /* background: linear-gradient(225deg, #565557, #454147, #423f44, #66636b); */

  background: rgba(43, 52, 65, 0.76) !important;
  padding-top: 2px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 8px 8px 14px aqua;

  box-shadow: 8px 8px 14px aqua;
}

.navlogoToggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggler {
  font-size: 30px;
  display: none;
}

.logo {
  display: flex;
  height: 70px;
  justify-content: center;
  /* margin: auto 5px; */
  align-items: center;
  /* width: 100px; */
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.logotext {
  font-size: 28px;
  font-weight: 600;
  /* margin-top: 0px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.wrapper {
  padding-left: 200px;
  display: flex;
  min-height: 40vh;
  align-items: right;
  justify-content: center;
}
.wrapper .static-test {
  font-size: 70px;
  color: white;
  font-weight: 400;
}
.wrapper .dynamic-text {
  margin-left: 25px;
  height: 90px;
  line-height: 90px;

  overflow: hidden;
}
.dynamic-text li {
  font-family: alge;
  align-items: right;
  justify-content: center;

  list-style: none;
  color: aqua;
  font-size: 65px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-text li span {
  position: relative;
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid aqua;
  animation: typing 8s steps(24) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.navlinks {
  display: flex;
  list-style: none;
  width: fit-content;
  justify-content: center;
  margin: auto 4px;
  color: black;
  padding: 0;
}

.navli {
  margin: auto 20px;
  padding: 2px 5px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Baloo Bhai", cursive;
}

.navli a {
  text-decoration: none;
  padding: 10px 10px;
  color: white;
  transition: 2ms ease-in-out;
}

.login {
  margin: auto 20px;
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 20px;
  background-color: #fbfbfb;
  font-family: "Baloo Bhai", cursive;
  transition: 2ms ease-out;
}

.login a {
  color: rgb(2, 1, 1);
  text-decoration: none;
}

.navli a:hover {
  border-radius: 40px;
  background-color: #fff;
  color: #000;
}

.login:hover {
  background-color: rgb(26, 22, 22);
  border: none;
}
.login:hover a {
  color: #fff;
}

@media (max-width: 660px) {
  .navdesign {
    flex-direction: column;
    align-items: flex-start;
  }
  .navlinks {
    flex-direction: column;
    display: none;
  }
  .navli {
    margin: 5px auto 5px 15px;
  }
  .login {
    margin: 10px auto 15px 15px;
    font-weight: 600;
    padding: 3px 12px;
    border-radius: 3px;
  }

  .navlogoToggler {
    width: 100%;
  }

  .toggler {
    font-size: 30px;
    display: block;
  }
}
/* nav */

/* Home Section */
.main {
  background-color: #000;
}
.content {
  height: 35%;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  height: 100%;
  background-image: url("../../assets/data/hand.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* position: fixed; */
  top: 0;
  /* width: 46%; */
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/data/bgi_robo.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 500px;
  padding: 3%;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: left;

  -webkit-box-shadow: 10px 10px 16px aqua;

  box-shadow: 10px 10px 16px aqua;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  height: 80vh;
}
.primary h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: "Bree Serif", serif;
}
.primary h3 {
  font-weight: bolder;
  font-size: 50px;
  font-family: "Bree Serif", serif;
}
.primary p {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  padding-bottom: 50px;
}

.aboutsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(71, 122, 251);
}

.about {
  /* color: #000; */
  text-align: center;
  margin: auto 15px auto 5px;
}
.about b {
  color: #fff;
}
.about i {
  color: #fff;
}
.about h1 {
  color: #fff;
}
.about h1::after {
  content: "";
  background: #bdbbbb;
  display: block;
  height: 2px;
  width: 160px;
  margin: 11px auto 50px;
}
/* cordinator part */

.cord-h {
  color: #fff;
  font-weight: 500;
  font-size: 70px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}
h2 span {
  animation: animate 3s linear infinite;
}
h2 span:nth-child(1) {
  animation-delay: 0s;
}
h2 span:nth-child(2) {
  animation-delay: 0.2s;
}
h2 span:nth-child(3) {
  animation-delay: 0.4s;
}
h2 span:nth-child(4) {
  animation-delay: 0.6s;
}
h2 span:nth-child(5) {
  animation-delay: 0.8s;
}
h2 span:nth-child(6) {
  animation-delay: 1s;
}
h2 span:nth-child(7) {
  animation-delay: 1.2s;
}
h2 span:nth-child(8) {
  animation-delay: 1.4s;
}
h2 span:nth-child(9) {
  animation-delay: 1.6s;
}
h2 span:nth-child(10) {
  animation-delay: 1.8s;
}
h2 span:nth-child(11) {
  animation-delay: 2s;
}
h2 span:nth-child(12) {
  animation-delay: 2.2s;
}
h2 span:nth-child(13) {
  animation-delay: 2.4s;
}
h2 span:nth-child(14) {
  animation-delay: 2.6s;
}
h2 span:nth-child(15) {
  animation-delay: 2.8s;
}
h2 span:nth-child(16) {
  animation-delay: 3s;
}

@keyframes animate {
  0%,
  80% {
    color: #fff;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 60px #fff, 0 0 80px #fff,
      0 0 11px #fff;
  }
}

.teammembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  height: 500px;
}
.member1 {
  height: 330px;
  width: 300px;
  margin-right: 150px;
}

.member2 {
  height: 330px;
  width: 300px;
}

.user {
  height: 80%;
  width: 100%;
  border-radius: 50%;
}
.our-team {
  width: 33.33%;
  border-radius: 100px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 20px auto;
}
.our-team .pic {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
}

.pic img {
  width: 100%;
  height: 230px;
  border-radius: 50%;
}
.our-team .title {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  display: flexbox;
  font-size: 20px;
  margin: 00px 00px 1px 0px;
}

.our-team .post {
  color: white;
}

footer {
  background-color: rgb(56, 64, 83);
  padding: 2%;
}
.containerr {
  width: 99%;
}

.col-4 {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2%;
  border-radius: 20px;
}
.club-links {
  padding: 4%;
  height: 250px;
}

.club-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.club-links li {
  font-size: 20px;
  font-weight: 400;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #fff;
}
.otherclubs {
  font-size: 45px;
  font-weight: 800;
  color: #f2aa4cff;
  text-align: center;

  padding-top: 10px;
}
.other_container {
  border-radius: 15px;
  padding: 2%;
  background-color: #101820ff;
  -webkit-box-shadow: 8px 8px 14px aqua;

  box-shadow: 8px 8px 14px aqua;
  height: 250px;
}
.club-links a {
  color: #80788b;
  text-decoration: none;
  width: 100%;
}
.clubs {
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}
.clubs::after {
  content: "";
  background: #bdbbbb;
  display: block;
  height: 2px;
  width: 160px;
  margin: 11px auto 50px;
}
.club-links a:hover {
  color: white;
  font-weight: 500;
}

.social-links {
  margin: 2% auto;
}
.social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
.social-links a {
  display: flex;
  font-size: 28px;
  color: #070708;
  text-decoration: none;
}
.social-links a:hover {
  color: white;
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  #home {
    height: 150%;
    position: unset;
    top: 0;
    width: 100%;
    padding-bottom: 150px;
  }
}
footer {
  position: relative;
}
.d-flex {
  margin-top: 140px;
}

#project_head {
  font-size: 50px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.about-us {
  width: 100%;
  padding: 2%;
}

#div1 {
  width: 30%;
  height: 400px;
  margin-right: 25px;
  border-radius: 10%;
  background-image: linear-gradient(to right, #380036, #0cbaba);
  -webkit-box-shadow: 8px 8px 10px aqua;
  box-shadow: 8px 8px 10px aqua;
}
#img {
  width: 100%;
}
#div2 {
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  width: 70%;
  padding: 2%;

  -webkit-box-shadow: 8px 8px 10px aqua;

  box-shadow: 8px 8px 10px aqua;
  height: 400px;
  border-radius: 15px;
  color: aliceblue;
}
#img {
  border-radius: 10%;
}

.proj-h {
  color: black;
  font-weight: 500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
h2 span {
  animation: animate 1.8s linear infinite;
}
h2 span:nth-child(1) {
  animation-delay: 0s;
}
h2 span:nth-child(2) {
  animation-delay: 0.2s;
}
h2 span:nth-child(3) {
  animation-delay: 0.4s;
}
h2 span:nth-child(4) {
  animation-delay: 0.6s;
}
h2 span:nth-child(5) {
  animation-delay: 0.8s;
}
h2 span:nth-child(6) {
  animation-delay: 1s;
}
h2 span:nth-child(7) {
  animation-delay: 1.2s;
}
h2 span:nth-child(8) {
  animation-delay: 1.4s;
}
@keyframes animate {
  0%,
  80% {
    color: #fff;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 60px #fff, 0 0 80px #fff,
      0 0 11px #fff;
  }
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
}

.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 15px;
}
.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #f00, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}
.comtainer .box:hover .imgBx::before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}
.container .box .text h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
}
.container .box:hover .text h2 {
  transform: translateY(0);
  transition-delay: 0.6s;
}
.container .box .text p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
}
.container .box:hover .text p {
  transform: translateY(0);
  transition-delay: 0.7s;
}
.pr_img {
  border-radius: 15px;
}
/* ANNOUNCEMENT */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
   background-color: black;

    justify-content: center;
    align-items: center;
} */

/* section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.swiper {
  padding: 1% 40% !important;
}
.swiper-wrapper {
  width: 30px;
  /* background: rgba(60, 56, 56, 0.711);
  -webkit-box-reflect: below 1px linear
    gradient(transparent, transparent, #0006); */
  /* padding: 50px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20px;
  padding: 4%;
  border-radius: 15px;
  /* height: 350px; */
  /* background: #000; */
  min-height: 50vh;

  background: rgba(60, 56, 56, 0.644) !important;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
    color: #fff;
}

.swiper-slide img {
  display: block;
  /* width: 200%; */
}
