.block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(34, 34, 34), rgb(150, 149, 149));
    z-index: 10;
    color: white;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: auto;
}

.block a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    transition: 1s ease-in-out;
}
.block p{
    padding: 0;
    margin: 0;
}

.block a:hover {
    color: white;
    transform: scale(1.2);
}

@media (max-width:992px) {
    .block {
        display: flex;
    }
}