@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Signika:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-bars {
    display: none;
    visibility: hidden;
}

body {
    min-height: 10px;
    height: 100%;
    background: linear-gradient(215deg, #003a40, #002a40, #001140);
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    /* transform: scale(0.8); */
    width: 100%;
    height: 100vh;
    background: rgb(0, 52, 61);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
    transition: 1s;
}

header.sticky {
    height: 60px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header.sticky .banner {
    opacity: 0.8;
}

/* .logo{
} */

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 1s;
    z-index: 1;
    width: 32%;
    animation: enlarge 2s ease;
    opacity: 0;
}

.phead {
    opacity: 1;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

@keyframes enlarge {
    0% {
        opacity: 0;
        width: 5%;
    }

    70% {
        opacity: 1;
        width: 32%;
    }

    100% {
        opacity: 0;
        width: 32%;
    }
}

header.sticky .logo {
    position: absolute;
    width: 8%;
    left: 100px;
    transform: translate(-60%, -25%) rotate(720deg);
    box-shadow: inset rgb(0, 89, 255) 0px 0px 38px, rgb(0, 89, 255) 0px 0px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 1;
    animation: glowing 5s infinite linear;
}

@keyframes glowing {
    0% {
        box-shadow: inset rgb(0, 89, 255) 0px 0px 38px, rgb(0, 89, 255) 0px 0px 38px,
            rgba(0, 89, 255, 0.137) 0px 15px 12px;
    }

    25% {
        box-shadow: inset rgb(111, 0, 255) 0px 0px 38px,
            rgb(111, 0, 255) 0px 0px 38px, rgba(111, 0, 255, 0.137) 0px 15px 12px;
    }

    50% {
        box-shadow: inset rgb(191, 0, 255) 0px 0px 38px,
            rgb(191, 0, 255) 0px 0px 38px, rgba(191, 0, 255, 0.137) 0px 15px 12px;
    }

    75% {
        box-shadow: inset rgb(111, 0, 255) 0px 0px 38px,
            rgb(111, 0, 255) 0px 0px 38px, rgba(111, 0, 255, 0.137) 0px 15px 12px;
    }

    100% {
        box-shadow: inset rgb(0, 89, 255) 0px 0px 38px, rgb(0, 89, 255) 0px 0px 38px,
            rgba(0, 89, 255, 0.137) 0px 15px 12px;
    }
}

.Welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 2rem;
    overflow: hidden;
    z-index: 5;
    /* opacity: 0; */
}

.text {
    position: relative;
    font-size: 3.5em;
    text-align: center;
    font-family: "Signika", sans-serif;
    color: #bcffb9;
    visibility: hidden;
    letter-spacing: 2.5px;
    -webkit-box-reflect: below -0.5em linear-gradient(transparent, #0004);
}

.text span {
    visibility: visible;
    position: relative;
    display: inline-block;
}

.text2 {
    position: relative;
    visibility: hidden;
    font-size: 6.5em;
    font-family: "Fredoka One", cursive;
    text-align: center;
    color: #fee715ff;
    letter-spacing: 6px;
    -webkit-box-reflect: below -0.44em linear-gradient(transparent, #0001, #0004);
}

.text2 span {
    position: relative;
    visibility: visible;
    display: inline-block;
}

.text3 {
    position: relative;
    visibility: hidden;
    font-size: 3.5em;
    font-family: "Signika", sans-serif;
    text-align: center;
    color: #bcffb9;
    letter-spacing: 2.5px;
    -webkit-box-reflect: below -0.5em linear-gradient(transparent, #0004);
}

.text3 span {
    position: relative;
    visibility: visible;
    display: inline-block;
}

nav {
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    z-index: 100;
    opacity: 0;
    margin-bottom: 0;
}

header.sticky nav ul {
    transform: translateX(0);
    transition-delay: 0.75s;
    opacity: 1;
}

nav ul li {
    list-style: none;
    margin: 0px 10px;
    padding: 0px 14px;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.646);

    display: block;
    padding: 6px 4px;
    font-size: 1.04rem;
    text-decoration: none;
}

.nav_link {
    display: flex;
    text-transform: uppercase;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.nav_link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #00ffcd;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #00ffcd;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link:hover {
    color: white;
}

.nav_link:hover::before {
    right: 0;
}

.nav_link:hover::after {
    left: 0;
}

.login {
    border: 1px solid #006981;
    background: none;
    background: #006981;
    padding: 0px 15px;
    border-radius: 27px;
    margin-left: 40px;
    transition: background 0.5s;
}

.login:hover {
    background: #006450;
    border: 1px solid #03e5b8;
    box-shadow: #0041344b 0px 0px 20px 20px, #005c49bc 0px 0px 10px 10px,
        #007b63 0px 0px 4px 4px;
}

.login:hover a {
    color: rgb(255, 236, 255);
    font-weight: bold;
}

#curtains {
    height: 100vh;
    background-image: url("../../assets/data/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 2; */
}

#curtains::before {
    opacity: 0.67;
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(153deg, #003a40, #002a40, #001140);
}

#curtains .name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 800;
    z-index: 2;
}

#curtains .coll {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4.5rem;
    font-weight: bolder;
    z-index: 2;
}

#curtains .quote {
    font-size: 2rem;
    color: white;
    font-family: cursive;
    z-index: 2;
    padding-top: 10px;
}

section {
    margin: 80px 22px;
    /* padding: 100px; */
    color: yellowgreen;
}

.mainheader {
    display: flex;
    font-size: 50px;
    font-family: "Fredoka One", cursive;;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.details{
    color: white;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    margin-top: 8px;
}

@media (max-width: 789px) {

    section,
    header {
        padding: 30px;
    }

    header.sticky .logo {
        width: 12%;
        z-index: 5;
        transform: translate(-95%, -33%) rotate(720deg);
    }

    header.sticky .banner {
        opacity: 0;
    }

    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background: rgb(0, 52, 61);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header.sticky nav ul {
        opacity: 1;
        visibility: visible;
    }

    header.sticky .toggle {
        color: white;
        position: fixed;
        cursor: pointer;
        transform: translate(0px, -5px);
        transform: translate(-33px, -13px);
        font-size: 25px;
        transition: 0.5s;
    }

    header.sticky .toggle.active {
        color: white;
    }
    .fa-bars {
        /* opacity: 1; */
        visibility: visible;
    }
}

.coordinators {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    flex: 1;
}

.coordinator {
    position: relative;
    width: 285px;
    height: 180px;
    background: rgba(128, 128, 128, 0.862);
    border-radius: 20px;
    font-family: cursive;
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.coordinator:hover{
    height: 370px;
}

.imagecontainer{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 180px;
    height: 140px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    transition: 0.5s;
}

.coordinator:hover .imagecontainer{
    top: 8%;
    width: 80%;
    height: 50%;
    /* height: 250px; */
}

.cimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coordinator .contents_co{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.coordinator .contents_co .details_co{
    padding: 10px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(50px);
}
.coordinator:hover .contents_co .details_co{
    transform: translateY(0px);
}
.coordinator .contents_co .details_co h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #bcffb9;
    line-height: 1.2em;
}
.coordinator .contents_co .details_co h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.6;
}

.coordinator .contents_co .details_co .connect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px 0px;
    margin: auto;
}

.coordinator .contents_co .details_co .connect ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.connect ul li{
    list-style: none;
    font-size: 25px;
}

.connect ul li a{
    color: whitesmoke;
}

.box {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.membercnt {
    display: flex;
    color: rgb(255, 255, 255);
    background-image: url(../../assets/data/photo.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.479);
    justify-content: center;
    justify-items: center;
    margin-left: 5ew;
    margin-right: 5ew;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
}

.membercnt::before {
    content: "";
    background-color: #00207869;
}

.cnt {
    align-items: center;
    text-align: center;
    opacity: 1;
    padding: 2%;
    /* background-color: #c4c4c4; */
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    min-height: 200px;
    min-width: 200px;
    width: fit-content;
    border-radius: 150px;
}

.cnt p {
    font-family: "Fredoka One", cursive;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.count {
    opacity: 1;
    line-height: 100px;
    color: white;
    font-weight: 600;
    font-size: 42px;
}

.club-links a {
    color: #fff;
    text-decoration: none;
    transition: 250ms ease;
}

.club-links a:hover {
    color: rgb(255, 143, 201);
    transform: scale(1.1);
}

.club-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

.club-links li {
    width: 190px;
    font-family: "zzVarela Round", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #fff;
}

.club-links li a {
    color: white;
}

.col-12:nth-child(2) {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) inset 0px -19px 38px;
    text-align: center;
    border-radius: 20px;
    margin: auto 15%;
    padding: 1%;
}

.col-12:nth-child(2):hover {
    box-shadow: rgba(232, 0, 174, 0.903) 0px 0px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
}

.atag {
    text-decoration: none;
}

.otherclubs {
    font-family: "Fredoka One", cursive;
    font-weight: bold;
    font-size: 40px;
    color: #b3fee1;
    /* text-align: center; */
    margin: auto 12%;
    padding-top: 1.4%;
    margin-bottom: 1.5%;
}

.ul {
    position: relative;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.li {
    position: relative;
    list-style: none;
    margin: 2%;
}

.a {
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    padding: 17px;
}

.a:hover {
    transform: translateY(-10px);
}

.a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.a:hover::before {
    transform: skew(45deg) translateX(-150px);
}

.shift {
    margin-top: 10%;
}

.shifting {
    margin-left: 27%;
    padding: 10%;
    display: inline-flex;
}

@media screen and (max-width: 992px) {
    .otherclubs {
        font-family: "Fredoka One", cursive;
        font-weight: bold;
        font-size: 40px;
        color: #b3fee1;
        /* text-align: center; */
        margin: auto 12%;
        padding-top: 1.4%;
        margin-bottom: 1.5%;
    }

    .ot-club {
        margin: 4% auto;
    }



    .club-links {
        display: flex;
        justify-content: center;
    }

    .club-links ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .club-links li {
        text-align: center;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .membercnt {
        display: flex;
        color: rgb(255, 255, 255);
        background-image: url(../../assets/data/photo.jpg);
        background-attachment: fixed;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.479);
        justify-content: center;
        justify-items: center;
    }

    .membercnt::before {
        content: "";
        background-color: #00207869;
    }

    .cnt {
        align-items: center;
        text-align: center;
        opacity: 1;
        /* background-color: #c4c4c4; */
        font-family: Arial, Helvetica, sans-serif;
        height: fit-content;
        min-height: 200px;
        width: fit-content;
        border-radius: 150px;
    }

    .cnt p {
        font-family: "Fredoka One", cursive;
        font-size: 42px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .count {
        opacity: 1;
        line-height: 100px;
        color: white;
        font-weight: 600;
        font-size: 40px;
    }

}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 1;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.hello {
    visibility: hidden;
    opacity: 0;
    transition: none;
}

.hello {
    visibility: hidden;
    opacity: 0;
    transition: none;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px !important;
    margin-top: 20px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.naming{
    display: flex;
    position: relative;
    background: black;
    opacity: 0.5;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    top: -35px;
    font-size: 22px;
    padding: 5px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media (max-width: 789px) {

    section,
    header {
        padding: 30px;
    }

    header.sticky .logo {
        width: 12%;
        z-index: 5;
        transform: translate(-95%, -33%) rotate(720deg);
    }

    header.sticky .banner {
        opacity: 0;
    }

    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background: rgb(0, 52, 61);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header.sticky nav ul {
        opacity: 1;
        visibility: visible;
    }

    header.sticky .toggle {
        color: white;
        position: fixed;
        cursor: pointer;
        transform: translate(0px, -5px);
        transform: translate(-33px, -13px);
        font-size: 25px;
        transition: 0.5s;
    }

    header.sticky .toggle.active {
        color: white;
    }

    .fa-bars {
        /* opacity: 1; */
        visibility: visible;
    }

    .text {
        font-size: 2.3rem;
    }

    .text2 {
        font-size: 3.7rem;
    }

    .text3 {
        font-size: 2.3rem;
    }

    #curtains .name {
        display: flex;
        align-items: center;
        margin: 0% auto;
        font-size: 2.6rem;
        font-weight: 700;
    }

    #curtains .coll {
        font-size: 2.3rem;
    }

    .membercnt {
        flex-direction: column;
    }
}
