.heroSection {
  background-image: url("../../assets/data/electro.gif");
}

body {
  background-color: #21485b;
  background-color: #21485b;
}

.wrapper {
  width: 100%;
  height: 80vh;
  position: relative;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: relative; */
  z-index: -1;
  opacity: 0.8;
}

.herocontent {
  position: absolute;
  top: 0;
  /* left: 10px; */
  /* right: 10px; */
  color: white;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.herocontent h1 {
  font-size: 3rem;
  font-weight: 900px;
  /* text-align: right; */
  text-shadow: 3px 4px #ff0000;
  color: white;
}

.herocontent h2 {
  font-size: 2rem;
  font-weight: 900px;
  /* text-align: right; */
  text-shadow: 2px 2px #120101;
  color: rgb(224, 109, 109);
}

nav {
  /* background: #ffe0dd; */
  background: #21485b;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  display: flex;

}

nav .BigScreen {
  list-style: none;
  float: right;
  align-items: center;
  display: flex;
  overflow: hidden;
  margin-right: 20px;
}

nav .BigScreen li {
  background: #2c3e50;
  position: relative;
  font-family: big john;
  display: inline-block;
  align-items: center;
  height: 50px;
  border: 2px solid greenyellow;
  margin: 10px;
}

nav .BigScreen li a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 20px;
  transition: 0s;
}

nav .BigScreen li a span {
  position: relative;
  z-index: 100;
}

nav .BigScreen li a:hover {
  color: black;
  transition-delay: 1.5s;
  box-shadow: 0 0 10px greenyellow,
    0 0 20px greenyellow,
    0 0 40px greenyellow,
    0 0 80px greenyellow,
    0 0 160px greenyellow;


}

nav .BigScreen li a::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: greenyellow;
  box-shadow: 5px -8px 0 greenyellow;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;

}

nav .BigScreen li a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 greenyellow;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

nav .BigScreen li a::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: greenyellow;
  box-shadow: -5px -8px 0 greenyellow;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;

}

nav .BigScreen li a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 greenyellow;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.logo {
  margin-left: 20px;
  width: 10%;
  height: 5%;
  height: 90px;
  width: 90px;
  border-radius: 150px;
  overflow: hidden;
  line-height: 80px;
  padding: 5px;
  box-shadow: 0 0 5px greenyellow,
    0 0 10px greenyellow,
    0 0 15px greenyellow,
    0 0 20px greenyellow;


}

.logo:hover {
  width: 15%
}

.SmallScreen{
  display: none;
}

@media (max-width:780px) {
  nav .BigScreen{
    display: none;
  }
  nav .SmallScreen{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: auto 30px auto 10px;
  }

  nav .SmallScreen li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
  } 

}
.mainContent{
  margin: 0;
  background-color: #21485b;
  padding: 20px;
  padding-top: 60px;
}

.slider {
  margin: auto;
  width: 80%;
  height: 50vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: cyan;
}

.swiper .swiper-pagination-bullet-active {
  background: cyan;

}


.assign {
  margin-top: 30px;
}

#myTab {
  float: right;
  list-style: none;
}

.content {
  color: white;
}

.out h1 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(168, 7, 7);
  font-size: 35px;
  font-weight: 700;
  border-radius: 40px;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}

.out h4{
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.out p{
  text-align: center;
  padding :5px;
}


.teammembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-team {
  width: 100%;
  border-radius: 100px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 20px auto;
  /* background: #fff; */
}

.our-team .pic {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.our-team .title {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  display: flexbox;
  font-size: 20px;
  margin: 00px 00px 1px 0px;
}

/* Footer Section */

#photo {
  width: 95%;
  height: 300px;
  margin: auto;
}

.mat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat h1 {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  text-shadow: 2px 1px red;
  color: white;
}


.mat h4{
  color: #fff;
  font-size: 19px;
  font-weight: 200;
  font-style: oblique;
  /* font-size: 40px; */
}

.mat p{
  color: white;
  font-weight: 300;
}

#image {
  width: 90%;
  display: block;
  border-radius: 50px;
}

.about span {
  color: lime;
}

.club-links ul {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}

.club-links li {
  font-size: 20px;
  font-weight: 400;
  margin-top: 3%;
  /* margin-bottom: 3%; */
  color: #fff;
}

.otherclubs {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
  /* margin: 51px 40px 11px; */
  /* margin: 17px -23px; */
  margin: -130px 20px;
}



.list {
  display: flex;
  color: black;
  list-style: none;
  border-radius: 12px;
  flex-wrap: wrap;

}


#website {
  display: flex;
  border: 3px solid #fff;
  border-radius: 4px;
}

.clubsLinkDesign{
  position: relative;
}

.clubsLinkDesign video {
  object-fit: cover;
  width: 100%;
  height: 210px;
  opacity: 0.9;

}

.clubsLinkDesign .ot-club{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.ot-club .box{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.links{
  margin: 5px 10px;
  font-size: 20px;
}



#kit {
  color: cyan;
  font-size: 16px;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

#kit:hover {
  color: white;
  border-radius: 7px;
  font-weight: 700;
}

.slide-swiper img {
  width: 100%;
  height: 100%;
}


.kontainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.kontainer .hexagon {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px 20px 20px 20px;
}

.kontainer .hexagon::before {
  content: '';
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}

.kontainer .hexagon:hover::before {
  opacity: 0.8;
  transform: scale(0.8);
}

.kontainer .hexagon .shape {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: polygon(49% 0, 100% 32%, 100% 73%, 48% 100%, 0 71%, 0 31%);
  transition: 0.5s;
}


.kontainer .hexagon .shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kontainer .hexagon .shape .kontent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0.5));
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.kontainer .hexagon:hover .shape .kontent {
  opacity: 1;
}

.kontent .social a{
  font-size: 24px;
  color: white;
  margin: 3px;
}
.kontent .social a:hover{
  color: blue;
}

.copyright-area {
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu ul{
  width: fit-content;
  margin: 0;
  padding: 0;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}