@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

* {
  font-family: Cascadia Code;
}
body,
html {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(5px);
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0px 0px 20px black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 500ms;
}

.navbar img {
  width: 200px;
  border-radius: 50%;
  background-color: transparent;

  opacity: 0.6;
  transition: 500ms;
}

.navbar img:hover {
  opacity: 1;
  filter: hue-rotate(45deg) saturate(2) brightness(1.5);
}

.navbar .buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.navbar .buttons .button,
.navbar .buttons .admin {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  transition: 500ms;
  background-color: transparent;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  text-align: center;
  filter: blur(1px);
  cursor: pointer;
  outline-offset: 4px;
}

.navbar .buttons .admin {
  background-color: rgba(0, 94, 255, 0.255);
}

.navbar .buttons .button:hover {
  background-color: rgba(255, 255, 255, 0.233);
  filter: blur(0px);
  transform: scale3d(1.1, 0.8, 1.5);
}

.navbar .buttons .admin:hover {
  filter: blur(0px) brightness(1.5) saturate(2) hue-rotate(45deg);
  transform: scale3d(1.1, 0.8, 1.5);
}

.navbar .sbtn {
  display: none;
  cursor: pointer;
  transition: 500ms;
  transform: translateX(-5vw);
}

.main {
  margin-top: 200px;
  min-height: 100px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: 500ms;
}

.main .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}

.main .banner img {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  z-index: 1;
  transition: 1s;
  filter: hue-rotate(0deg);
}

.main .banner img:hover {
  filter: hue-rotate(45deg);
}
#particles-js {
  display: block;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323031;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.about,
.quote,
.coord,
.other_clubs,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 25vh;
  width: 100%;
  font-size: 25px;
  background-color: rgba(222, 222, 222, 0.034);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  word-wrap: break-word;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about .motto {
  font-size: 40px;
  font-weight: 900;
}

.about .desc {
  width: 75%;
}

.quote {
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../assets/data/aihero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.quote i {
  font-size: 50px;
  color: #fff;
  opacity: 0.5;
  width: 100%;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.134);
  padding-bottom: 30px;
  z-index: 1;
  /* filter: drop-shadow(0px 0px 10px rgb(0, 0, 0)); */
}

.hidden {
  opacity: 0;
  transform: translateX(-100vw);
  filter: blur(20px);
  transition: all 1s;
}

.hidden2,.hidden3 {
  opacity: 0;
  transform: translateX(-100vw);
  filter: blur(20px);
  transition: all 2s;
  transition-delay: 0;
}
.hidden3 {
  width:110%;
}
.hidden2:nth-child(2),.hidden3:nth-child(2) {
  transition-delay: 500ms;
}
.hidden2:nth-child(3),.hidden3:nth-child(3) {
  transition-delay: 1000ms;
}
.hidden2:nth-child(4),.hidden3:nth-child(4) {
  transition-delay: 1500ms;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}

.sidebar {
  display: none;
  width: 0px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.052);
  backdrop-filter: blur(5px);
  z-index: 12;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 500ms;
  position:fixed;
  top:0;
  right:0;
}

.sidebar .close{
  display: none;
  position: fixed;
  font-size: 40px;
  right: 4vw;
  top: -4vh;
  color: #fff;
  cursor: pointer;
  transition: 500ms;
}

.sidebar i :hover {
  transform: scale(1.2);
}

.sidebar div,.sidebar i {
  display: none;
  position: relative;
  font-size: 30px;
  color: #fff;
  margin-top: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: 500ms;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  filter: blur(1px);
  cursor: pointer;
  outline-offset: 4px;
  transition: 1s;
  transition-delay: var(--i);
  width: 100%;
}

.sidebar i {
  text-align: right;
}

.card {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:linear-gradient(rgba(255,255,255,0.8),rgba(225,225,225,0.1) ), url("../../assets/data/aiml.gif"), url("../../assets/data/3600167.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
  width:40vw;
  border-radius: 50px;
  font-size: 20px;
}

.card img {
  height:50%;
  width:50%;
  transform: translateY(20px);
  border-radius: 50px;
  box-shadow: 10px,10px,10px,black;
  filter: opacity(0.7) drop-shadow(0px 0px 10px rgb(0, 0, 0));
  transition: 500ms;
}

.card img:hover {
  filter: opacity(1) drop-shadow(0px 0px 10px rgb(220, 220, 220));
}

.card .smedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.club-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 20px;
  margin-top: 20px;
  border:1px solid rgb(210, 210, 210);
  padding:30px;
  margin:10px;
  transition: 500ms;
  background-color: rgba(225,225,225,0.1);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
   border-top-right-radius: 50px;
}

.club-links a {
  text-decoration: none;
  color:white;
  transition: 500ms;

}

.club-links a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  transition: 500ms;
}

.footer .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:50%;
}

.footer img {
  border-radius: 50%;
  filter:opacity(0.7) hue-rotate(0deg) drop-shadow(0px 0px 10px rgb(0, 0, 0));
  transition: 500ms;
  width: 200px;
  height: 200px;
}

.footer img:hover {
  filter:opacity(1) hue-rotate(45deg) drop-shadow(0px 0px 10px rgb(220, 220, 220));
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  transition: 500ms;
}



@media only screen and (max-width: 900px) {
  * {
    font-size: 15px;
  }

  .about h1 {
    font-size: 30px;
  }

  .about .motto {
    font-size: 20px;
  }

  .quote h1 {
    font-size: 30px;
  }

  .quote div {
    font-size: 20px;
  }
  .navbar .sbtn {
    display: block;
  }
  .navbar .buttons {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    height: 80px;
  }
  .navbar img {
    height: 80px;
    width: 80px;
  }

  .main {
    margin-top: 100px;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .card {
    width:75vw;
  }
}

@media (prefers-reduced-motions) {
  * {
    transition: 0;
  }
}
