body {
  /* background-color: rgba(0, 0, 0, 0.255); --original bg color */
  scroll-behavior: smooth;
  margin: 0px;
  /* fallback for old browsers */

  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.closebtn {
  display: none;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

.navdesign {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 250px;
  height: calc(100vh - 30px);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 20% auto;
}

.navlinks {
  width: fit-content;
  margin: auto;
}

.links {
  margin: 20px auto;
  transition: 250ms ease-in-out;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}


.links span {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.links:hover {
  transform: scale(1.2);
  outline: 1px solid #fff;
  outline-offset: 3px;
  border: 1px solid #fff;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.links:hover span {
  color: rgba(0, 0, 0, 0.571);
  font-weight: 900;
}

.clublogo {
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

/* MAIN */

.herosection {
  margin-left: 260px;
  width: calc(100% - 260px);
  height: calc(100vh - 30px);
  /* background-color: blue; */
  overflow: auto;
}

.herosection h1 {
  margin: 30px auto 10px auto;
  width: fit-content;
  font-size: 25px;
  /* color: #888; */
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.herosection h2 {
  margin: auto;
  width: fit-content;
  text-transform: capitalize;
  /* color: rgb(109, 106, 106); */
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#dataStore {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

#dataStore a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

#dataStore a:hover {
  transform: scale(1.05);
}

.data {
  /* border: 2px solid black; */
  width: 300px;
  margin: 20px;
  /* padding: 10px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
}

.data .topic {
  position: relative;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.11);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  /* color: black; */
}

.topic::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/data/data.png");
  /* background-size: 300px 65px; */
}

.data .desc {
  color: rgba(255, 255, 255, 0.89);
  padding: 10px;
  font-size: 18px;
  padding-bottom: 1px;
  height: 250px;
  overflow: auto;
}

.data .cont {
  padding-left: 10px;
  color: rgb(225, 220, 220);
  font-size: 18px;
  font-weight: 500;
}

/* footer */

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.355);
  height: 30px;
}

footer p {
  font-weight: 500;
  width: fit-content;
  margin: auto;
}

.sideBarButton {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .sideBarButton {
    display: block;
    visibility: visible;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }

  .sideBarButton:hover {
    border: 2px solid rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
    color: rgb(225, 225, 225);
    outline: 2px solid white;
    outline-offset: -6px;
  }

  /* The side navigation menu */
  #navdesign {
    width: 0px;
  }

  .navdesign {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40vw;
    height: calc(100vh - 30px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    justify-content: center;
    align-items: center;
    transition: 250ms ease;
  }

  /* The navigation menu links */
  .links {
    margin: 20px auto;
    transition: 250ms ease-in-out;
    padding: 2px 5px;
  }

  .links:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .links:hover a {
    color: rgba(0, 0, 0, 0.571);
  }

  /* Position and style the close button (top right corner) */
  .navdesign .closebtn {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.25s ease-in-out;
    padding: 5px;
  }

  .closebtn:hover {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: inherit;
    color: rgb(225, 225, 225);
    outline: 2px solid white;
    outline-offset: -6px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  .navdesign {
    padding-top: 15px;
  }

  .navdesign a {
    font-size: 18px;
  }

  .herosection {
    margin: auto;
    width: 90%;
    height: 80%;
    /* background-color: blue; */
    overflow: hidden;
  }

  .herosection h1 {
    text-align: center;
    margin: 30px auto 10px auto;
    width: fit-content;
    font-size: 25px;
    /* color: #888; */
    color: white;
    font-family: "Times New Roman", Times, serif;
  }

  .herosection h2 {
    margin: auto;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    /* color: rgb(109, 106, 106); */
    color: white;
    font-family: "Times New Roman", Times, serif;
  }

  #dataStore {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  #dataStore a {
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }

  #dataStore a:hover {
    transform: scale(1.05);
  }

  .data {
    /* border: 2px solid black; */
    width: 250px;
    margin: 10px auto;
    /* padding: 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: "Times New Roman", Times, serif;
    overflow: hidden;
  }

  .data .topic {
    position: relative;
    left: 0%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    /* color: black; */
  }

  .topic::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    background-image: url("../../assets/data/data.png");
    /* background-size: 300px 65px; */
  }

  .data .desc {
    color: rgba(255, 255, 255, 0.89);
    padding: 10px;
    font-size: 18px;
    padding-bottom: 1px;
    height: 250px;
  }

  .data .cont {
    padding-left: 10px;
    color: rgb(225, 220, 220);
    font-size: 18px;
    font-weight: 500;
  }

  /* footer */

  footer {
    position: fixed;
    color: white;
    background-color: rgba(3, 3, 3, 0.355);
    /* height: 30%; */
    width: 100%;
    bottom: 0;
  }

  footer p {
    font-weight: 500;
    width: fit-content;
    margin: auto;
  }
}