/* common css */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

body {
  margin: 0;
  padding: auto 4%;
  background: #191d1e; /* Old browsers */
  background: -moz-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, #191d1e),
    color-stop(100%, #283139)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    0deg,
    #191d1e 50%,
    #283139 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
  background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/*loader*/
.loader{
  background: radial-gradient(#fff, #aaa);
  background-size: 100% 100% !important;
  /*overflow: hidden;*/
  padding-top: 30vh;
  height: 1000vh!important;
  z-index: 100 !important;
}

.loader .word {
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.0s infinite;
  outline: none;
  white-space: nowrap;
}


@keyframes netflix_style {
  0% {
    text-shadow: 0px 0px transparent, 1px 1px #aaa, 2px 2px #aaa, 3px 3px #aaa, 4px 4px #aaa, 5px 5px #aaa, 6px 6px #aaa, 7px 7px #aaa, 8px 8px #aaa, 9px 9px #aaa, 10px 10px #aaa, 11px 11px #aaa, 12px 12px #aaa, 13px 13px #aaa, 14px 14px #aaa, 15px 15px #aaa, 16px 16px #aaa, 17px 17px #aaa, 18px 18px #aaa, 19px 19px #aaa, 20px 20px #aaa, 21px 21px #aaa, 22px 22px #aaa, 23px 23px #aaa, 24px 24px #aaa, 25px 25px #aaa, 26px 26px #aaa, 27px 27px #aaa, 28px 28px #aaa, 29px 29px #aaa, 30px 30px #aaa, 31px 31px #aaa, 32px 32px #aaa, 33px 33px #aaa, 34px 34px #aaa, 35px 35px #aaa, 36px 36px #aaa, 37px 37px #aaa, 38px 38px #aaa, 39px 39px #aaa, 40px 40px #aaa, 41px 41px #aaa, 42px 42px #aaa, 43px 43px #aaa, 44px 44px #aaa, 45px 45px #aaa, 46px 46px #aaa, 47px 47px #aaa, 48px 48px #aaa, 49px 49px #aaa, 50px 50px #aaa, 51px 51px #aaa, 52px 52px #aaa, 53px 53px #aaa, 54px 54px #aaa, 55px 55px #aaa, 56px 56px #aaa, 57px 57px #aaa, 58px 58px #aaa, 59px 59px #aaa, 60px 60px #aaa, 61px 61px #aaa, 62px 62px #aaa, 63px 63px #aaa, 64px 64px #aaa, 65px 65px #aaa, 66px 66px #aaa, 67px 67px #aaa, 68px 68px #aaa, 69px 69px #aaa, 70px 70px #aaa, 71px 71px #aaa, 72px 72px #aaa, 73px 73px #aaa, 74px 74px #aaa, 75px 75px #aaa, 76px 76px #aaa, 77px 77px #aaa, 78px 78px #aaa, 79px 79px #aaa, 80px 80px #aaa, 81px 81px #aaa, 82px 82px #aaa, 83px 83px #aaa, 84px 84px #aaa, 85px 85px #aaa, 86px 86px #aaa, 87px 87px #aaa, 88px 88px #aaa, 89px 89px #aaa, 90px 90px #aaa, 91px 91px #aaa, 92px 92px #aaa, 93px 93px #aaa, 94px 94px #aaa, 95px 95px #aaa, 96px 96px #aaa, 97px 97px #aaa, 98px 98px #aaa, 99px 99px #aaa, 100px 100px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: 0px 0px transparent, 1px 1.5px #aaa, 2px 3px #aaa, 3px 4.5px #aaa, 4px 6px #aaa, 5px 7.5px #aaa, 6px 9px #aaa, 7px 10.5px #aaa, 8px 12px #aaa, 9px 13.5px #aaa, 10px 15px #aaa, 11px 16.5px #aaa, 12px 18px #aaa, 13px 19.5px #aaa, 14px 21px #aaa, 15px 22.5px #aaa, 16px 24px #aaa, 17px 25.5px #aaa, 18px 27px #aaa, 19px 28.5px #aaa, 20px 30px #aaa, 21px 31.5px #aaa, 22px 33px #aaa, 23px 34.5px #aaa, 24px 36px #aaa, 25px 37.5px #aaa, 26px 39px #aaa, 27px 40.5px #aaa, 28px 42px #aaa, 29px 43.5px #aaa, 30px 45px #aaa, 31px 46.5px #aaa, 32px 48px #aaa, 33px 49.5px #aaa, 34px 51px #aaa, 35px 52.5px #aaa, 36px 54px #aaa, 37px 55.5px #aaa, 38px 57px #aaa, 39px 58.5px #aaa, 40px 60px #aaa, 41px 61.5px #aaa, 42px 63px #aaa, 43px 64.5px #aaa, 44px 66px #aaa, 45px 67.5px #aaa, 46px 69px #aaa, 47px 70.5px #aaa, 48px 72px #aaa, 49px 73.5px #aaa, 50px 75px #aaa, 51px 76.5px #aaa, 52px 78px #aaa, 53px 79.5px #aaa, 54px 81px #aaa, 55px 82.5px #aaa, 56px 84px #aaa, 57px 85.5px #aaa, 58px 87px #aaa, 59px 88.5px #aaa, 60px 90px #aaa, 61px 91.5px #aaa, 62px 93px #aaa, 63px 94.5px #aaa, 64px 96px #aaa, 65px 97.5px #aaa, 66px 99px #aaa, 67px 100.5px #aaa, 68px 102px #aaa, 69px 103.5px #aaa, 70px 105px #aaa, 71px 106.5px #aaa, 72px 108px #aaa, 73px 109.5px #aaa, 74px 111px #aaa, 75px 112.5px #aaa, 76px 114px #aaa, 77px 115.5px #aaa, 78px 117px #aaa, 79px 118.5px #aaa, 80px 120px #aaa, 81px 121.5px #aaa, 82px 123px #aaa, 83px 124.5px #aaa, 84px 126px #aaa, 85px 127.5px #aaa, 86px 129px #aaa, 87px 130.5px #aaa, 88px 132px #aaa, 89px 133.5px #aaa, 90px 135px #aaa, 91px 136.5px #aaa, 92px 138px #aaa, 93px 139.5px #aaa, 94px 141px #aaa, 95px 142.5px #aaa, 96px 144px #aaa, 97px 145.5px #aaa, 98px 147px #aaa, 99px 148.5px #aaa, 100px 150px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
    color: #f3f3f3;
  }
  20% {
    color: #957DAD;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color: #957DAD;
    transform: scale(0.85, 0.9);
  }
  100% {
    opacity: 0;
  }
}
*/
canvas {
  display: block;
}

#particles-js {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.section-padding {
  margin-top: 90px;
}

.container-fluid {
  padding-top:29vh;
  width: 100%;
  height: 30vh;
}

.membercnt :hover {
  box-shadow: 0 0 30px white;
  transition: 0.5s;
}
.cnt :hover{
  box-shadow: 0 0 0 0;
}



/*--added css to container---*/

*{
  color: #ffffff;
}
/* --AMIT KUMAR--*/

.navbar .nav {
  /* background-color: #c4c4c4; */
  color: #000000;
}

.main {
  height: fit-content;
  align-items: center;
  /* background-color: #c4c4c4; */
  padding: 3%;
  padding-top: 12%;
}
.img-responsive{
  width: 30%;
  float: right;
  height: auto;
  padding-right: 20px;
  /* border-radius: 7%; */
}
.name {
  text-align: center;
  margin: 3%;
}

.about {
  text-align: center;
  /* background-color: #c4c4c4; */
  border-radius: 50px;
  color: #fff;
}
.container h3 {
  color: #0ec9ac;
  padding-top: 30px;;
  font-weight: 900;
  font-size: 3rem;
  font-family: 'Bodoni Moda', serif;
}
.container h4 {
  font-family: 'Bodoni Moda', serif;
}
.my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}
.ot-club .container{
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.ot-club .container:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  transition: 0.5s;
}
.ot-club .container span
 {
    color: #0ec9ac;
    font-weight: 900;
    font-size: 3rem;
  }
.container-fluid .logo-img{
    width: 100px;
    border-radius: 0%;
    position: relative;
    left: 37px;
    bottom: 10px;
  
}

/*shrey*/

.about h1 {
  font-size: 38px;
  font-weight: 600;
}
.membercnt {
  display: inline-block;
  color: rgb(255, 255, 255);
}
.cnt {
  align-items: center;
  text-align: center;
  padding: 2%;
  /* background-color: #c4c4c4; */
  height: fit-content;
  min-height: 200px;
  min-width: 200px;
  width: fit-content;
  border-radius: 150px;
}
.cnt p {
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

.count {
  line-height: 100px;
  color: white;
  font-weight: 600;
  font-size: 42px;
}
/*-----himanshu, kanishk------code end----*/
/*shubham and souvik*/
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
@media(max-width:720px)
{
  #img2{
    margin-left: -40px!important;
  }
}
#img2 {
  max-height: 448px;
  min-width: 182px;
  margin-left: -16px;
}
@media (min-width: 992px){
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));}
.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 23px;
    color: #37517e;
    font-family: "Jost", sans-serif;
}
.pic {
  overflow: hidden;
  width: 180px;
  border-radius: 23%;
  vertical-align: middle;
}
#img1 {
  max-height: 249px;
  min-width: 303px;
  margin-left: -60px;
}
@media(max-width:720px)
{
  #img1{
    margin-left: -90px!important;
  }
}
.team .member .member-info {
  padding-left: 30px;
}
.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.team .member .social a:hover {
  transform: translate(0, -10%);
  background-color: #0077b5;
}
.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
    color: #47b2e4;
    text-decoration: none;
  
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.social .fa {
  color: black;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}


/* Footer Section */

.col-12:nth-child(2) {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2%;
  border-radius: 20px;
}

.club-links ul {
  list-style: none;
  float: left;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.club-links li {
  margin-right: 4%;
  font-size: 20px;
  margin-top: 2%;
  width: 100%;
  color: #fff;
  font-weight: bolder;
}

.ot-club span {
  text-align: center;
  width: 90%;
  font-size: 30px;
  /*font-we:rgb(0, 229, 255);*/
  color: rgb(0, 234, 255);
}

.ot-club span::after {
  content: "";
  background-color: #ab2298;
  /* position: absolute; */
  width: 100%;
}

.club-links a {
  color: #fff;
  text-decoration: none;
}

.club-links a:hover {
  color: #e712cb;
  font-weight: bold;
}

.gs-tech-img {
  width: 100%;
  border-radius: 20px;
}

.gs-tech-details {
  text-align: center;
  color: #fff;
  padding: 2%;
}

.social-links {
  margin: 2% auto;
}

.social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.social-links a {
  font-size: 33px;
  color: #fff;
}

.social-links a:hover {
  color: #e712cb;
  /* font-weight: 500px; */
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .ot-club {
    margin: 4% auto;
  }

  .club-links {
    display: flex;
    justify-content: center;
  }

  .club-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .club-links li {
    text-align: center;
  }
}
/* @media(max-width: 790px){
  .navbar1 {
  width: 100%;
  min-height: 40vh;

} */

.nav {
  padding-top:318px;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  border-radius: 50%;
  position: absolute;
  left: 13px;
  width: 12%!important;
  padding-top: -12px;
  display: inline-block;
  top: 2.5%;
  width: 6%!important;
}
.close-menu img {
  width: 20px;
}
.open-menu img {
  width: 20px;
}

.nav-links {
  /*z-index: 10;*/
  flex: 1;
  text-align: right;
  /*
  position: fixed;
  top: 1%;
  width: 100%;*/
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
}
.nav-links ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}

.close-menu,
.open-menu {
  display: none;
}


@media(max-width:992px){
  .nav-links{
      position: absolute;
      /* background: linear-gradient(45deg, #673ab7, #00bcd4); */
      background: #212529;
      height: 100vh;
      width: 200px;
      top: 0%;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  .open-menu,.close-menu{
      display: block;
      margin: 10px;
      cursor: pointer;
      font-size: 22px;
  }
  .nav-links li{
      display: block;
  }
  .nav-links ul{
      padding: 30px;
  }
  .logos li{
    left: 33%!important;
    top: 2.5%!important;
    position: absolute!important;
     
      font-size: 26px!important;
  }
  
  .logos span1{
    font-size: 20px!important;
  }
  .logos img{
    width: 12%!important;
  }
  svg{
      width: 240px;
      height: auto;
    
  }




}
/*intro text*/
.name-container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 10vmin;
  text-align: left;
  line-height: 20vmin;
}

.name-container .gradient-text {
  font-size: 32px;
  color: transparent;
  background: conic-gradient(
    #d9d7f1 12%,
    #baabda 12%,
    #baabda 33%,
    #e7fbbe 33%,
    #e7fbbe 55%,
    #ffcbcb 55%,
    #ffcbcb 70%,
    #b5deff 70%,
    #b5deff 87%,
    #f7d1ba 87%
  );
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
  cursor: pointer;
}

.name-container .gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 300%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 20%;
    background-position: 0 1em;
  }
  100% {
    background-size: 15%;
    background-position: 0 0;
  }
}
.social-links ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-links ul li a:hover{
  transform: translate(0, -10%);
}
.social-links ul li:nth-child(1) a:hover{
  background-color: #E4405F;
}
.social-links ul li:nth-child(3) a:hover{
  background-color: #3CB371;
}
.social-links ul li:nth-child(2) a:hover{
  background-color: #0077b5;
}
.carousel-inner {
  margin-top: 107px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 23px;
  background: black no-repeat center center;
    background-image: none;
    background-size: auto;
  background-size: 100% 100%;
  border-radius: 50%;
  filter: invert(100%);
}

.logos span1 {
  font-size: 35px;
  color: rgb(128, 255, 1);
}
.logos li {
  list-style: none;
  position: absolute;
  left: 9%;
  top:4%;
  font-size: 40px;
  color: white;
  font-weight: bold;
  
}
.logos a {
  text-decoration: none;
}



/* news slider*/
.containermy-5{
  background-color: aqua;
}
.card-titleheading{
  color: blue; 
}
.card-text{
  color: pink;
}
.col-12-club-links{
  border: #9694942f;
}


/* ----------------SLIDER--------------- */
.slider{
  padding-top: 52vh;
  position: relative;
  left: 20%;
  width: 60%;
}

.SL1 h1 {
  color: white;
  text-align: center;
  font-weight: bolder;
}


.w-100{
  border-radius: 20px!important;
  height: 50vh;
}
.carousel-inner {
  margin-top: 66px;
}

/* ----------------SLIDER--------------- */
.logo-img{
  margin-left: auto;
  margin-right: auto;
}


.name-container h3{
  padding-left: 8%;
  font-family: 'Kalam', cursive;
}
.name-container h4{
  padding-left: 8%;
  text-align: center;
  font-family: 'Kalam', cursive;
}

@media (max-width: 790px){
  .about-us{
    left: 104px!important;
  }
  
  .about-us span{
    font-family: 'Kanit', sans-serif!important;
  }
  
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  
}

.about-us{
  /* background-color:  #151719; */
  display: flex;
  justify-content: center;
  position: relative;
  left: -10px;
  align-items: center;
  min-height: 20vh;
 
  
}
@media(max-width:790px)
{
  .about-us{
    width: 161%;
    left: -90px!important;
  }
}



@media(max-width:790px)
{
  .justify-content-around 
  {
    padding-top: 63%;
  }
}

.about-us span{
  font-family: 'Kanit', sans-serif!important;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.container{
  padding-top: 45px!important;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.great{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 790px){
  .great h1 {
    position: relative;
    left: 11px;
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  .great span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  .great span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .great span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
}

.great h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.great span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.great span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.great span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


/* typewritter effect */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&family=Marcellus+SC&family=Ms+Madi&family=My+Soul&family=Playball&family=Rancho&family=Signika:wght@700&family=Spline+Sans+Mono:wght@500&family=Square+Peg&display=swap');
.name-container h3{
  font-family: 'Signika', sans-serif;
  font-weight: 900px;
  /*font-family: 'Spline Sans Mono', monospace;*/
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .09em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@media(max-width:790){
  .name-container h3{
    width:50%!important;
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 69% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.name-container h4 .txtspan{
    font-weight: bold;
    color: rgb(255, 234, 0);
}
.our-team .pic{
  /*border: 1px solid rgb(0, 234, 255);*/
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}

@media(max-width:790){
  .name-container .gradient-text{
    width:50%!important;
  }
}

@media(max-width:790px)
{
  .section-title{
    padding-top: 84%;
  }
}



#footer {
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}
.footer-text {
  margin-top: 60px;
}
footer {
  display: block;
}
#contact{
  margin-top: 50px;
  background: #151414;
}


/*contact*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #FF5F1F;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}

.contact .info {
  color: #444444;
}
.contact .info i {
  font-size: 32px;
  color: #3498db;
  float: left;
  line-height: 1;
}
.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #3498db;
}
.contact .php-email-form button[type=submit] {
  background: #3498db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #2383c4;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2::before, .section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.row h3 {
  font-family: 'Kalam', cursive;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
@media(max-width:720px)
{
  
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget img {

    width: 88%;
}
@media(max-width:720px)
{
  .footer-widget img {
    display: none;
  }
}
.footer-widget .logos li {
  margin-top: -24px;
  margin-left: 60px;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



/*slider*/
.swiper {
  width: 100%;
  padding-top: 500px !important;
  padding-bottom: 200px !important;
}
@media (max-width: 790px){
  .swiper{
    margin-top: 70%;
    width: 100%;
    padding-top: 500px !important;
    padding-bottom: 200px !important;
  }
}
.swiper h3 {
  text-align: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}

@media(max-width:790px)
{
  .name-container h3{
    font-size: 16px;
  }

  .name-container .gradient-text {
    font-size: 35px;
  }
  .name-container h4{
    padding-left: 0%;
  }
}
/*-----shreya mishra, mrigank ,akanksha chaurasia ,jeevesh rai-----*/
/*------code end-----*/
